.home-img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.card{
    border-radius: 8px;
}

#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}