<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Grafik</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="card" style="width: 100%; height: 100%;">
        <div class="card-body">
            <div  class="text-center">
                <label class="label label-success">Grafik Income & Outcome</label>
                <div id="bar-chart"></div>
            </div>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>